.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal-width columns */
  grid-template-rows: repeat(
    2,
    100px
  ); /* Two rows with a fixed height of 100px */
  grid-gap: 10px; /* Add some spacing between grid items */
}
.grid-item-q {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}
.grid-item-a {
  background-color: rgb(205, 51, 58);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}
